spring.datasource.url=jdbc:mysql://localhost:3306/skilldrop?createDatabaseIfNotExist=true
spring.datasource.username=root
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect
spring.application.name=skilldrop-backend
server.port=8080
jwt.secret=DEIN_SECRET_HIER
jwt.expiration=900000
stripe.secret-key=sk_test_DEIN_KEY_HIER